body{
  margin: 0;
  text-align: center;

}

.back{
  width: 100%;
  height: 100vh;
  background-color: light-gray;
}

.box{
  width: 20%;
  height: 400px;
  background-color: white;
  position: absolute;
  margin-top: 100px;
  margin-left: -100px;
  display: inline-block;
  border-radius: 15px;
  padding: 20px;
}

img{
  width: 255px;
  height: 255px;
  border-radius: 10px;
  position: relative;
}

h2{
  color: dark-blue;
  font-family: 'Outfit';
  font-weight: 700;
  font-size: 20px;
  display: block;
}
p{
  color: grayish-blue;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 15px;
  display: block;
}
